@page "/about"

<main>
    <header class="box">
        <h1>/ About Me</h1>
    </header>

    <section class="box">
        <div class="container">
            <aside>
                <figure class="profileimg">
                    <img src="https://placehold.co/300x300" alt="Profile Picture">
                </figure>
            </aside>

            <article>
                <p>
                    Lorem <strong>ipsum dolor</strong> sit amet, <em>consectetur adipiscing</em> elit.
                    Nunc <strong>vulputate</strong>, arcu ac ullamcorper laoreet, erat mauris mollis nisi,
                    a <em>hendrerit dui arcu</em> posuere odio. Morbi placerat, lorem at egestas rhoncus,
                    eros diam <strong>blandit enim</strong>, sit amet maximus leo ante sit amet erat.
                    Curabitur <em>bibendum ante</em> ac molestie pharetra. Suspendisse auctor est quis diam
                    mollis hendrerit. Sed aliquam, nisi vel <strong>rhoncus sollicitudin</strong>, felis diam
                    congue enim, in faucibus mauris urna vitae tortor. Morbi consequat odio mi, vel rhoncus metus
                    facilisis sed. Praesent <em>tincidunt aliquam</em> risus in rhoncus. Nam euismod nisl purus,
                    ac bibendum lectus maximus a. Praesent id nunc quis purus <strong>bibendum pretium</strong>.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Aliquam <em>fringilla sodales</em> felis, eget lacinia orci placerat in. Cras nec consectetur
                    nunc. Nullam eget viverra orci, ut cursus urna. Nam sollicitudin pretium purus, vitae sagittis
                    lacus posuere a. Nam a dui sed urna convallis rhoncus sed eu lorem.
                </p>
            </article>
        </div>
    </section>
</main>
